---
import HowTo from "../components/HowTo.astro";
import Container from "../layouts/Container.astro";
---

<Container>
  <section class="w-full float-left">
    <center><a href="https://evolvnft.com/"><img src="/archway-faucet/evolvnft-logo-faucet.svg" /></a></center>
    <HowTo />
  </section>
</Container>
