---
import Step1 from "./Step1.vue";
import Step2 from "./Step2.vue";
import Step3 from "./Step3.vue";
---

<div>
  <ol class="grid list-decimal list-outside">
    <li class="mt-8"><Step1 client:visible /></li>
    <li class="mt-8"><Step2 client:visible /></li>
    <li class="mt-8"><Step3 client:visible /></li>
  </ol>
</div>
